future
pybase64
emoji
requests
telethon
pyowm
tldextract
sqlalchemy
google-api-python-client
python-telegram-bot==12.8
psycopg2-binary
spotdl
pythonping
feedparser
pytz
gtts
bs4
lxml
demjson
wget
bs4
telegraph
pillow
psutil
speedtest-cli>=2.0.2
googletrans
wikipedia
spamwatch
selenium
bleach
git+https://github.com/starry69/python-markdown2.git
alphabet_detector
beautifulsoup4
spongemock
tswift
zalgo-text
youtube-dl
validators
requests
pybase64
